#!/bin/bash

ETH={{ openstack_neutron_public_interface }} # host Ethernet interface
BRIDGE={{ openstack_external_bridge }} # OVS bridge name
REAL_MAC={{ openstack_host_mac }}   # MAC of the host Ethernet interface
FAKE_MAC={{ openstack_fake_mac }}    # generate one
IP_ADDR={{ openstack_host_cidr }}       # given by OpenStack
IP_ROUTER={{ openstack_host_gateway }}       # given by OpenStack

# remove IP addresses
ip addr flush dev $ETH
ip addr flush dev $BRIDGE

# change eth mac address to a fake
ip link set dev $ETH down
ip link set dev $ETH address $FAKE_MAC
ip link set dev $ETH up

# give the eth MAC address to the bridge
ovs-vsctl set bridge $BRIDGE other-config:hwaddr=$REAL_MAC
# add eth0 to the bridge
ovs-vsctl add-port $BRIDGE $ETH

# set bridge with the eth IP address
ip addr add $IP_ADDR dev $BRIDGE
ip link set $BRIDGE up

# set default route
#ip route del default via $IP_ROUTER dev $ETH
ip route add default via $IP_ROUTER dev $BRIDGE
