[DEFAULT]
debug = True
verbose = True
interface_driver = neutron.agent.linux.interface.OVSInterfaceDriver
use_namespaces = True
router_delete_namespaces = True
use_namespaces = True
enable_metadata_proxy = True
agent_mode = legacy