[DEFAULT]
auth_uri = {{ openstack_ath_uri }}
auth_url = {{ openstack_ath_url }}
auth_region = {{ openstack_keystone_auth_region }}
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = neutron
password = {{ openstack_neutron_db_password }}

nova_metadata_ip = {{ openstack_controller_host }}
metadata_proxy_shared_secret = {{ openstack_neutron_metadata_secret }}
# we need it? only mitaka?
#nova_metadata_port = 8775
#nova_metadata_protocol = http
#auth_version=v3


verbose = True

# Show debugging output in log (sets DEBUG log level output)
debug = True

# The Neutron user information for accessing the Neutron API.
# auth_url = http://localhost:5000/v2.0
# auth_region = RegionOne
# Turn off verification of the certificate for ssl
# auth_insecure = False
# Certificate Authority public key (CA cert) file for ssl
# auth_ca_cert =

admin_tenant_name = %SERVICE_TENANT_NAME%
admin_user = %SERVICE_USER%
admin_password = %SERVICE_PASSWORD%
