[DEFAULT]
auth_uri = {{ openstack_ath_uri }}
auth_url = {{ openstack_ath_url }}
auth_region = {{ openstack_keystone_auth_region }}
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = neutron
password = {{ openstack_neutron_db_password }}

nova_metadata_ip = {{ openstack_controller_host }}
metadata_proxy_shared_secret = {{ openstack_neutron_metadata_secret }}

verbose = True
debug = True
admin_tenant_name = %SERVICE_TENANT_NAME%
admin_user = %SERVICE_USER%
admin_password = %SERVICE_PASSWORD%
