[ml2]
type_drivers = flat,vlan,gre,vxlan
tenant_network_types = vlan,gre,vxlan
mechanism_drivers = openvswitch,l2population
extension_drivers = port_security

[ml2_type_flat]
flat_networks = external


[ml2_type_vlan]
network_vlan_ranges = external

[ml2_type_gre]
tunnel_id_ranges = 1:1000

[ml2_type_vxlan]

[ml2_type_vxlan]
vni_ranges = 1:32768

[ml2_type_geneve]

[ovs]
local_ip = {{ openstack_controller_ip }}
enable_tunneling = True
bridge_mappings = external:br-ex # add br-vlan??

[agent]
l2_population = True
tunnel_types = gre,vxlan

# compute node
l2_population = True
prevent_arp_spoofing = True

[securitygroup]
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
enable_security_group = True
enable_ipset = True # check if it is ok


