[DEFAULT]
debug=True

[ml2]
type_drivers = flat,vxlan
tenant_network_types = vxlan
mechanism_drivers = openvswitch

[ml2_type_flat]
flat_networks = external

[ml2_type_vxlan]
vni_ranges = 1001:2000

[securitygroup]
enable_security_group = True

####################
# OVS
# in openvswitch-agent.ini file




