[DEFAULT]
debug = False

[agent]
tunnel_types = vxlan
l2_population = False

[ovs]
enable_tunneling = True
local_ip = {{ openstack_controller_ip }}

#configured for neutron node and compute node
bridge_mappings = external:{{ openstack_neutron_bridge_interface }}

[securitygroup]
enable_security_group = True
enable_ipset = False
firewall_driver = neutron.agent.firewall.NoopFirewallDriver
