[DEFAULT]
rpc_backend = rabbit
heat_metadata_server_url = {{ openstack_heat_server_url }}
heat_waitcondition_server_url = {{ openstack_heat_server_url }}/v1/waitcondition
stack_domain_admin = heat_domain_admin
stack_domain_admin_password = {{ openstack_heat_domain_password }}
stack_user_domain_name = heat
verbose = True

[oslo_messaging_rabbit]
rabbit_host = {{ openstack_rabbit_host }}
rabbit_userid = {{ openstack_rabbit_user }}
rabbit_password = {{ openstack_rabbit_pass }}

[database]
connection = mysql://heat:{{ openstack_heat_db_password }}@{{ openstack_database_host }}/heat

[keystone_authtoken]
auth_uri = {{ openstack_ath_uri }}
auth_url = {{ openstack_ath_url }}
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = heat
password = {{ openstack_heat_keystone_password }}

[trustee]
auth_plugin = password
auth_url = {{ openstack_ath_url }}
username = heat
password = {{ openstack_heat_keystone_password }}
user_domain_id = default

[clients_keystone]
auth_uri = {{ openstack_ath_uri }}

[ec2authtoken]
auth_uri = {{ openstack_ath_uri }}/v3

[clients_cinder]
http_log_debug = True